// Primary Color
$cta: linear-gradient(90deg, #BF8327 -10.45%, #F4DC60 52.24%, #BF8327 118.81%);
$white: #FFF;
$black: #000;
$grey: #F4F6FF;
$golden: #F4DC60;



/* Aux */
$secondary: #F6F6F6;
$error: #FF1400;
$info: #0043CE;
$success: #65B530;
$warning: #F1C21B;