.lenseSelectionContainer {
    .heroBanner {
        background-image: url('../../assets/images/lense_selection_banner.png');
        background-position: center;
    }

    .materialCard {
        border-radius: 10px;
        background-color: #FFF;
        border: 1px solid #D4D7E3;
    }
}